html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.logo {
    display: block;
}

.logo__img {
    width: 100px;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    font-size: 16px;
}

.first-section__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #cccc;
    font-size: 48px;
    font-weight: bold;
}

.second-section__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #aa4141cc;
    font-size: 48px;
    font-weight: bold;
}

.third-section__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1c0c0ccc;
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: 992px) {
    .header__burger-btn {
        display: block;
    }
    .menu {
        position: absolute;
        left: -350px;
        top: 0;
        width: 350px;
        background-color: blueviolet;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
    }
    .menu__list {
        display: block;
    }
    .menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    .header.open .menu {
        transform: translateX(100%);
    }
}